body {
    font-family: Arial, sans-serif;
}
/* 样式指数和三角函数按钮 */
.trig {
    background-color: #f39c12;
    color: #fff;
}

.operator {
    background-color: #3498db;
    color: #fff;
}

.calculator {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}

button {
    width: 70px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.operator {
    background-color: #f0f0f0;
}

.clear {
    background-color: #ff6347;
    color: #fff;
}

.equal {
    background-color: #4caf50;
    color: #fff;
}